// ********************** //
//      --* Colors *--    //
// ********************** //

$red            : #B03060;
$orange         : #FF8243;
$yellow         : #FFD700;
$olive          : #32CD32;
$green          : #21BA45;
$teal           : #008080;
$blue           : #2185D0;
$violet         : #EE82EE;
$purple         : #B413EC;
$pink           : #FF1493;
$brown          : #A52A2A;
$grey           : #A0A0A0;
$black          : #000000;
$white          : #FFFFFF;

// Shades
$light-shading: rgba(0,0,0,0.01);
$medium-shading: rgba(34, 36, 38, 0.15);

// Default Color Map
$g-colors-list: orange violet grey white yellow red blue olive green teal purple pink brown black;
$g-colors-regular: orange violet grey white yellow;
$g-colors-inverted: red blue olive green teal purple pink brown black;
$g-colors-map: (
        red: $red,
        orange: $orange,
        yellow: $yellow,
        olive: $olive,
        green: $green,
        teal: $teal,
        blue: $blue,
        violet: $violet,
        purple: $purple,
        pink: $pink,
        brown: $brown,
        grey: $grey,
        black: $black,
        white: $white );

// Navigation Colors Map
$w-nav-colors-map: (
        red: $red,
        orange: $orange,
        yellow: $yellow,
        olive: $olive,
        green: $green,
        teal: $teal,
        blue: $blue,
        violet: $violet,
        purple: $purple,
        pink: $pink,
        brown: $brown,
        grey: $grey,
        black: $black,
        white: $white );

// Homepage Overlay Colors Map
$w-homepage-header-colors-map: (
        red: $red,
        orange: $orange,
        yellow: $yellow,
        olive: $olive,
        green: $green,
        teal: $teal,
        blue: $blue,
        violet: $violet,
        purple: $purple,
        pink: $pink,
        brown: $brown,
        grey: $grey,
        black: $black,
        white: $white );

// Homepage Overlay Gradient Maps
$lg-overlay-dir: to bottom;
$sm-overlay-dir: to bottom left;

$w-homepage-header-overlay-gradient-map: (
        red: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, red), 0.15), rgba(map-get($g-colors-map, red), 0.85) 70%),
        orange: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, orange), 0.15), rgba(map-get($g-colors-map, orange), 0.85) 70%),
        yellow: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, yellow), 0.15), rgba(map-get($g-colors-map, yellow), 0.85) 70%),
        olive: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, olive), 0.15), rgba(map-get($g-colors-map, olive), 0.85) 70%),
        green: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, green), 0.15), rgba(map-get($g-colors-map, green), 0.85) 70%),
        teal: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, teal), 0.15), rgba(map-get($g-colors-map, teal), 0.85) 70%),
        blue: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, blue), 0.15), rgba(map-get($g-colors-map, blue), 0.85) 70%),
        violet: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, violet), 0.05), rgba(map-get($g-colors-map, violet), 0.70) 70%),
        purple: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, purple), 0.15), rgba(map-get($g-colors-map, purple), 0.85) 70%),
        pink: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, pink), 0.05), rgba(map-get($g-colors-map, pink), 0.70) 70%),
        brown: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, brown), 0.05), rgba(map-get($g-colors-map, brown), 0.70) 70%),
        grey: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, grey), 0.05), rgba(map-get($g-colors-map, grey), 0.70) 70%),
        black: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, black), 0.05), rgba(map-get($g-colors-map, black), 0.70) 70%),
        white: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, white), 0.05), rgba(map-get($g-colors-map, white), 0.70) 70%));

$w-homepage-header-overlay-gradient-map-tiny: (
        red: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, red), 0.65), rgba(map-get($g-colors-map, red), 0.75)),
        orange: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, orange), 0.65), rgba(map-get($g-colors-map, orange), 0.75)),
        yellow: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, yellow), 0.65), rgba(map-get($g-colors-map, yellow), 0.75)),
        olive: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, olive), 0.65), rgba(map-get($g-colors-map, olive), 0.75)),
        green: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, green), 0.65), rgba(map-get($g-colors-map, green), 0.75)),
        teal: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, teal), 0.65), rgba(map-get($g-colors-map, teal), 0.75)),
        blue: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, blue), 0.65), rgba(map-get($g-colors-map, blue), 0.75)),
        violet: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, violet), 0.65), rgba(map-get($g-colors-map, violet), 0.75)),
        purple: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, purple), 0.65), rgba(map-get($g-colors-map, purple), 0.75)),
        pink: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, pink), 0.65), rgba(map-get($g-colors-map, pink), 0.75)),
        brown: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, brown), 0.65), rgba(map-get($g-colors-map, brown), 0.75)),
        grey: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, grey), 0.65), rgba(map-get($g-colors-map, grey), 0.75)),
        black: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, black), 0.65), rgba(map-get($g-colors-map, black), 0.75)),
        white: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, white), 0.65), rgba(map-get($g-colors-map, white), 0.75)));

$w-homepage-header-overlay-gradient-map-small: (
        red: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, red), 0.65), rgba(map-get($g-colors-map, red), 0.75)),
        orange: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, orange), 0.65), rgba(map-get($g-colors-map, orange), 0.75)),
        yellow: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, yellow), 0.65), rgba(map-get($g-colors-map, yellow), 0.75)),
        olive: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, olive), 0.65), rgba(map-get($g-colors-map, olive), 0.75)),
        green: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, green), 0.65), rgba(map-get($g-colors-map, green), 0.75)),
        teal: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, teal), 0.65), rgba(map-get($g-colors-map, teal), 0.75)),
        blue: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, blue), 0.65), rgba(map-get($g-colors-map, blue), 0.75)),
        violet: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, violet), 0.65), rgba(map-get($g-colors-map, violet), 0.75)),
        purple: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, purple), 0.65), rgba(map-get($g-colors-map, purple), 0.75)),
        pink: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, pink), 0.65), rgba(map-get($g-colors-map, pink), 0.75)),
        brown: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, brown), 0.65), rgba(map-get($g-colors-map, brown), 0.75)),
        grey: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, grey), 0.65), rgba(map-get($g-colors-map, grey), 0.75)),
        black: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, black), 0.65), rgba(map-get($g-colors-map, black), 0.75)),
        white: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, white), 0.65), rgba(map-get($g-colors-map, white), 0.75)));

$w-homepage-header-overlay-gradient-map-short: (
        red: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, red), 0.65), rgba(map-get($g-colors-map, red), 0.75) 40%),
        orange: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, orange), 0.65), rgba(map-get($g-colors-map, orange), 0.75) 40%),
        yellow: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, yellow), 0.65), rgba(map-get($g-colors-map, yellow), 0.75) 40%),
        olive: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, olive), 0.65), rgba(map-get($g-colors-map, olive), 0.75) 40%),
        green: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, green), 0.65), rgba(map-get($g-colors-map, green), 0.75) 40%),
        teal: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, teal), 0.65), rgba(map-get($g-colors-map, teal), 0.75) 40%),
        blue: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, blue), 0.65), rgba(map-get($g-colors-map, blue), 0.75) 40%),
        violet: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, violet), 0.65), rgba(map-get($g-colors-map, violet), 0.75) 40%),
        purple: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, purple), 0.65), rgba(map-get($g-colors-map, purple), 0.75) 40%),
        pink: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, pink), 0.65), rgba(map-get($g-colors-map, pink), 0.75) 40%),
        brown: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, brown), 0.65), rgba(map-get($g-colors-map, brown), 0.75) 40%),
        grey: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, grey), 0.65), rgba(map-get($g-colors-map, grey), 0.75) 40%),
        black: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, black), 0.65), rgba(map-get($g-colors-map, black), 0.75) 40%),
        white: linear-gradient($sm-overlay-dir, rgba(map-get($g-colors-map, white), 0.65), rgba(map-get($g-colors-map, white), 0.75) 40%));

$w-homepage-header-overlay-gradient-map-tall: (
        red: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, red), 0.65), rgba(map-get($g-colors-map, red), 0.75) 40%),
        orange: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, orange), 0.65), rgba(map-get($g-colors-map, orange), 0.75) 40%),
        yellow: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, yellow), 0.65), rgba(map-get($g-colors-map, yellow), 0.75) 40%),
        olive: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, olive), 0.65), rgba(map-get($g-colors-map, olive), 0.75) 40%),
        green: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, green), 0.65), rgba(map-get($g-colors-map, green), 0.75) 40%),
        teal: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, teal), 0.65), rgba(map-get($g-colors-map, teal), 0.75) 40%),
        blue: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, blue), 0.65), rgba(map-get($g-colors-map, blue), 0.75) 40%),
        violet: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, violet), 0.65), rgba(map-get($g-colors-map, violet), 0.75) 40%),
        purple: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, purple), 0.65), rgba(map-get($g-colors-map, purple), 0.75) 40%),
        pink: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, pink), 0.65), rgba(map-get($g-colors-map, pink), 0.75) 40%),
        brown: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, brown), 0.65), rgba(map-get($g-colors-map, brown), 0.75) 40%),
        grey: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, grey), 0.65), rgba(map-get($g-colors-map, grey), 0.75) 40%),
        black: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, black), 0.65), rgba(map-get($g-colors-map, black), 0.75) 40%),
        white: linear-gradient($lg-overlay-dir, rgba(map-get($g-colors-map, white), 0.65), rgba(map-get($g-colors-map, white), 0.75) 40%));

// Profile Card Color Map
$c-profile-colors-alpha: 0.5;
$c-profile-colors-map: (
        red: rgba($red, $c-profile-colors-alpha),
        orange: rgba($orange, $c-profile-colors-alpha),
        yellow: rgba($yellow, $c-profile-colors-alpha),
        olive: rgba($olive, $c-profile-colors-alpha),
        green: rgba($green, $c-profile-colors-alpha),
        teal: rgba($teal, $c-profile-colors-alpha),
        blue: rgba($blue, $c-profile-colors-alpha),
        violet: rgba($violet, $c-profile-colors-alpha),
        purple: rgba($purple, $c-profile-colors-alpha),
        pink: rgba($pink, $c-profile-colors-alpha),
        brown: rgba($brown, $c-profile-colors-alpha),
        grey: rgba($grey, $c-profile-colors-alpha),
        black: rgba($black, $c-profile-colors-alpha),
        white: rgba($white, $c-profile-colors-alpha));

// Footer Colors Map
$f-ftr-colors-map: (
        red: $red,
        orange: $orange,
        yellow: $yellow,
        olive: $olive,
        green: $green,
        teal: $teal,
        blue: $blue,
        violet: $violet,
        purple: $purple,
        pink: $pink,
        brown: $brown,
        grey: $grey,
        black: $black,
        white: $white );
