= text
  | Welcome to our support page. We pride ourselves in customer service and getting you the help you need to answer any questions you may have.
= h5 text: 'HelpDesk'
= text text: "For immediate support, please check out our knowledge hub at #{link_to 'support.idealogic.io', 'https://support.idealogic.io'}. We have spent a great deal of time making sure your questions are answered with tutorials, how-to-guides, and FAQ.".html_safe
= h5 text: 'Chat'
= text
  | You can also message us by clicking the support icon in the bottom right of this screen to speak to a live representative via chat.
= h5 text: 'Email'
= text text: "Lastly, you can shoot us an email at #{mail_to 'support@ideaogic.io'} and someone will get back to you within 24 hours.".html_safe
= h5 text: 'Phone'
= text text: "Lastly, you can shoot us an email at #{mail_to 'support@ideaogic.io'} and someone will get back to you within 24 hours.".html_safe
