==  Navigation::ElementListCell.(nil,
        layout: 'main',
        policy: Pundit.policy(current_user, :headless),
        menu: s('menu.elements'),
        request: request,
        show_icons: true,
        site_settings: @site_settings)
