.component.members

  .profile.holder
    padding-top: 8.5em
    padding-bottom: 8.5em
    @include media("<tablet")
      padding-top: 2em
      padding-bottom: 1em
      text-align: center

    .ui.circular.image
      border: 5px solid white
      @include media("<tablet")
        width: 250px
        margin: 0 auto 2em

    .text
      font-size: 1.1em
      color: $white
      @include media("<tablet")
        font-size: 1.3em

    .header .icon
      display: inline-block
      font-size: 0.85em
      margin-bottom: 8px
      margin-left: 5px
      font-weight: bold
      color: $yellow

      @include media("<tablet")
        font-size: 0.9em
        margin-bottom: 7px

  .social.holder
    margin: 5px 0 0

    @include media("<tablet")
      display: none
      margin: 0

      .header
        text-align: center
  
  .link.holder
    @include media("<tablet")
      margin: 3px
      text-align: center


  .ui.social.segment
    margin: 0
    background: $black !important

    .header
      font-size: 1.4em

    // Editable Button
    .editable.button
      @include media("<tablet")
        margin-bottom: 2em

  .highlights.table, .contributions.table
    margin-bottom: 0

    td
      padding: 5px 0 5px 5px
      color: rgba(0, 0, 0, 0.66)
