.component.members
  padding-top: $header-external-padding
  padding-bottom: $footer-padding
  @include media("<tablet")
    padding-top: $header-external-mobile-padding
    padding-bottom: $footer-mobile-padding

