.component.videos.listing
  padding-top: $header-external-padding
  padding-bottom: $footer-padding
  @include media("<tablet")
    padding-top: $header-external-mobile-padding
    padding-bottom: $footer-mobile-padding

  .segment
    @include media("<tablet")
      padding: 0

.video.details.component
  .header.fragment
    .video
      margin-top: 0.5em
      @include media("<desktop")
        margin-top: 1em
        margin-bottom: 1em
