.help.fragment
  margin-bottom: 3em

  .heading.wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1em
    border-bottom: 1px solid rgba(34, 36, 38, .15)
    padding-bottom: 10px

  a, a.ui.icon
    color: $black

  .learn.more
    margin-top: 1em
