= segment class: 'basic', id: 'details', dynamic: :on
 = text
  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  == Admin::DetailsCell.(nil, records: @entry, fields: component_show_fields, controller_namespace: self.controller.class.parent.to_s )
