
@font-face {
  font-family: 'Fontello';
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot);
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot#iefix) format("embedded-opentype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-3fb172fb49cbd8249d0feaeee964c687.woff2) format("woff2"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-a68f8e06d164da242616103db275a1b0.woff) format("woff"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-33bcc95cfcb1b4c5427b78095b8ecfc3.ttf) format("truetype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-e187b32818fab654a78aca971bc15088.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"][data-v-df799622]:before, [class*=" icon-"][data-v-df799622]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tumblr[data-v-df799622]:before {
  content: '\E80A';
}
.button-social *[data-v-df799622] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button-social[data-v-df799622] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 7px 10px;
  margin: 3px 1.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button-social[data-v-df799622]:hover {
  opacity: .9;
}
.button-social__square_edges[data-v-df799622] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.tumblr__design__flat[data-v-df799622] {
  background-color: #35465c;
  color: #fefefe;
}
.tumblr__design__gradient[data-v-df799622] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#35465c), to(#53647a));
  background-image: linear-gradient(bottom, #35465c, #53647a);
  background-image: -ms-linear-gradient(bottom, #35465c, #53647a);
  color: #fefefe;
}
.tumblr__design__outline[data-v-df799622] {
  background-color: #fefefe;
  border: 1px solid #35465c;
  color: #35465c;
}
.title-social[data-v-df799622] {
  margin-left: 0;
}
.counter-tumblr[data-v-df799622] {
  margin-left: 6px;
  padding-left: 6px;
}
.tumblr__design__flat .counter-tumblr[data-v-df799622],
.tumblr__design__gradient .counter-tumblr[data-v-df799622] {
  border-left: 1px solid rgba(254, 254, 254, .5);
}
.tumblr__design__outline .counter-tumblr[data-v-df799622] {
  border-left: 1px solid rgba(53, 70, 92, .5);
}

@font-face {
  font-family: 'Fontello';
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot);
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot#iefix) format("embedded-opentype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-3fb172fb49cbd8249d0feaeee964c687.woff2) format("woff2"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-a68f8e06d164da242616103db275a1b0.woff) format("woff"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-33bcc95cfcb1b4c5427b78095b8ecfc3.ttf) format("truetype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-e187b32818fab654a78aca971bc15088.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"][data-v-71552819]:before, [class*=" icon-"][data-v-71552819]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook[data-v-71552819]:before {
  content: '\E809';
}
.button-social *[data-v-71552819] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button-social[data-v-71552819] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 7px 10px;
  margin: 3px 1.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button-social[data-v-71552819]:hover {
  opacity: .9;
}
.button-social__square_edges[data-v-71552819] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.facebook__design__flat[data-v-71552819] {
  background-color: #3b5998;
  color: #fefefe;
}
.facebook__design__gradient[data-v-71552819] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3b5998), to(#5977b6));
  background-image: linear-gradient(bottom, #3b5998, #5977b6);
  background-image: -ms-linear-gradient(bottom, #3b5998, #5977b6);
  color: #fefefe;
}
.facebook__design__outline[data-v-71552819] {
  background-color: #fefefe;
  border: 1px solid #3b5998;
  color: #3b5998;
}
.title-social[data-v-71552819] {
  margin-left: 0;
}
.counter-facebook[data-v-71552819] {
  margin-left: 6px;
  padding-left: 6px;
}
.facebook__design__flat .counter-facebook[data-v-71552819],
.facebook__design__gradient .counter-facebook[data-v-71552819] {
  border-left: 1px solid rgba(254, 254, 254, .5);
}
.facebook__design__outline .counter-facebook[data-v-71552819] {
  border-left: 1px solid rgba(59, 89, 152, .5);
}

@font-face {
  font-family: 'Fontello';
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot);
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot#iefix) format("embedded-opentype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-3fb172fb49cbd8249d0feaeee964c687.woff2) format("woff2"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-a68f8e06d164da242616103db275a1b0.woff) format("woff"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-33bcc95cfcb1b4c5427b78095b8ecfc3.ttf) format("truetype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-e187b32818fab654a78aca971bc15088.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"][data-v-1bcbcb20]:before, [class*=" icon-"][data-v-1bcbcb20]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter[data-v-1bcbcb20]:before {
  content: '\E801';
}
.button-social *[data-v-1bcbcb20] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button-social[data-v-1bcbcb20] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 7px 10px;
  margin: 3px 1.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button-social[data-v-1bcbcb20]:hover {
  opacity: .9;
}
.button-social__square_edges[data-v-1bcbcb20] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.twitter__design__flat[data-v-1bcbcb20] {
  background-color: #1da1f2;
  color: #fefefe;
}
.twitter__design__gradient[data-v-1bcbcb20] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1da1f2), to(#31b5ff));
  background-image: linear-gradient(bottom, #1da1f2, #31b5ff);
  background-image: -ms-linear-gradient(bottom, #1da1f2, #31b5ff);
  color: #fefefe;
}
.twitter__design__outline[data-v-1bcbcb20] {
  background-color: #fefefe;
  border: 1px solid #1da1f2;
  color: #1da1f2;
}
.title-social[data-v-1bcbcb20] {
  margin-left: 6px;
}

@font-face {
  font-family: 'Fontello';
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot);
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot#iefix) format("embedded-opentype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-3fb172fb49cbd8249d0feaeee964c687.woff2) format("woff2"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-a68f8e06d164da242616103db275a1b0.woff) format("woff"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-33bcc95cfcb1b4c5427b78095b8ecfc3.ttf) format("truetype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-e187b32818fab654a78aca971bc15088.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"][data-v-1f0fa31e]:before, [class*=" icon-"][data-v-1f0fa31e]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-linkedin[data-v-1f0fa31e]:before {
  content: '\E808';
}
.button-social *[data-v-1f0fa31e] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button-social[data-v-1f0fa31e] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 7px 10px;
  margin: 3px 1.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button-social[data-v-1f0fa31e]:hover {
  opacity: .9;
}
.button-social__square_edges[data-v-1f0fa31e] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.linkedin__design__flat[data-v-1f0fa31e] {
  background-color: #0077b5;
  color: #fefefe;
}
.linkedin__design__gradient[data-v-1f0fa31e] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0077b5), to(#1e95d3));
  background-image: linear-gradient(bottom, #0077b5, #1e95d3);
  background-image: -ms-linear-gradient(bottom, #0077b5, #1e95d3);
  color: #fefefe;
}
.linkedin__design__outline[data-v-1f0fa31e] {
  background-color: #fefefe;
  border: 1px solid #0077b5;
  color: #0077b5;
}
.title-social[data-v-1f0fa31e] {
  margin-left: 3px;
}
.counter-linkedin[data-v-1f0fa31e] {
  margin-left: 6px;
  padding-left: 6px;
}
.linkedin__design__flat .counter-linkedin[data-v-1f0fa31e],
.linkedin__design__gradient .counter-linkedin[data-v-1f0fa31e] {
  border-left: 1px solid rgba(254, 254, 254, .5);
}
.linkedin__design__outline .counter-linkedin[data-v-1f0fa31e] {
  border-left: 1px solid rgba(0, 119, 181, .5);
}

@font-face {
  font-family: 'Fontello';
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot);
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot#iefix) format("embedded-opentype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-3fb172fb49cbd8249d0feaeee964c687.woff2) format("woff2"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-a68f8e06d164da242616103db275a1b0.woff) format("woff"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-33bcc95cfcb1b4c5427b78095b8ecfc3.ttf) format("truetype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-e187b32818fab654a78aca971bc15088.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"][data-v-2148ea71]:before, [class*=" icon-"][data-v-2148ea71]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-reddit[data-v-2148ea71]:before {
  content: '\E805';
}
.button-social *[data-v-2148ea71] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button-social[data-v-2148ea71] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 7px 10px;
  margin: 3px 1.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button-social[data-v-2148ea71]:hover {
  opacity: .9;
}
.button-social__square_edges[data-v-2148ea71] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.reddit__design__flat[data-v-2148ea71] {
  background-color: orangered;
  color: #fefefe;
}
.reddit__design__gradient[data-v-2148ea71] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(orangered), to(#ff591e));
  background-image: linear-gradient(bottom, orangered, #ff591e);
  background-image: -ms-linear-gradient(bottom, orangered, #ff591e);
  color: #fefefe;
}
.reddit__design__outline[data-v-2148ea71] {
  background-color: #fefefe;
  border: 1px solid orangered;
  color: orangered;
}
.title-social[data-v-2148ea71] {
  margin-left: 4px;
}
.counter-reddit[data-v-2148ea71] {
  margin-left: 6px;
  padding-left: 6px;
}
.reddit__design__flat .counter-reddit[data-v-2148ea71],
.reddit__design__gradient .counter-reddit[data-v-2148ea71] {
  border-left: 1px solid rgba(254, 254, 254, .5);
}
.reddit__design__outline .counter-reddit[data-v-2148ea71] {
  border-left: 1px solid rgba(255, 69, 0, .5);
}

@font-face {
  font-family: 'Fontello';
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot);
  src: url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-ff47dfb13c2042c02c99a38ba0ce6fec.eot#iefix) format("embedded-opentype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-3fb172fb49cbd8249d0feaeee964c687.woff2) format("woff2"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-a68f8e06d164da242616103db275a1b0.woff) format("woff"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-33bcc95cfcb1b4c5427b78095b8ecfc3.ttf) format("truetype"), url(/packs/_/_/node_modules/vue-goodshare/src/fonts/fontello-e187b32818fab654a78aca971bc15088.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"][data-v-1a20d252]:before, [class*=" icon-"][data-v-1a20d252]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinterest[data-v-1a20d252]:before {
  content: '\E803';
}
.button-social *[data-v-1a20d252] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button-social[data-v-1a20d252] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 7px 10px;
  margin: 3px 1.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button-social[data-v-1a20d252]:hover {
  opacity: .9;
}
.button-social__square_edges[data-v-1a20d252] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.pinterest__design__flat[data-v-1a20d252] {
  background-color: #bd081c;
  color: #fefefe;
}
.pinterest__design__gradient[data-v-1a20d252] {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bd081c), to(#db263a));
  background-image: linear-gradient(bottom, #bd081c, #db263a);
  background-image: -ms-linear-gradient(bottom, #bd081c, #db263a);
  color: #fefefe;
}
.pinterest__design__outline[data-v-1a20d252] {
  background-color: #fefefe;
  border: 1px solid #bd081c;
  color: #bd081c;
}
.title-social[data-v-1a20d252] {
  margin-left: 0;
}
.counter-pinterest[data-v-1a20d252] {
  margin-left: 6px;
  padding-left: 6px;
}
.pinterest__design__flat .counter-pinterest[data-v-1a20d252],
.pinterest__design__gradient .counter-pinterest[data-v-1a20d252] {
  border-left: 1px solid rgba(254, 254, 254, .5);
}
.pinterest__design__outline .counter-pinterest[data-v-1a20d252] {
  border-left: 1px solid rgba(189, 8, 28, .5);
}

.point.details[data-v-c91a7cec] {
  padding: 1.5em 1em;
}

@-webkit-keyframes bgPulse-data-v-0aebb88e {
from {
    -webkit-box-shadow: 0 0 9px #2185D0;
            box-shadow: 0 0 9px #2185D0;
}
50% {
    -webkit-box-shadow: 0 0 12px rgba(33, 133, 208, .31);
            box-shadow: 0 0 12px rgba(33, 133, 208, .31);
}
to {
    -webkit-box-shadow: 0 0 9px #2185D0;
            box-shadow: 0 0 9px #2185D0;
}
}
.label[data-v-0aebb88e] {
  top: 0 !important;
  z-index: 1;
  color: white !important;
}
.ui.progress[data-v-0aebb88e] {
  margin-top: 0.90em !important;
  margin-bottom: 0.90em !important;
  background: rgba(0, 0, 0, .75) !important;
}
.bar[data-v-0aebb88e] {
  -webkit-transition: 1.0s all;
  transition: 1.0s all;
  min-width: 3px !important;
}
.activecast .bar[data-v-0aebb88e] {
  width: 100% !important;
  -webkit-animation-name: bgPulse-data-v-0aebb88e;
          animation-name: bgPulse-data-v-0aebb88e;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bgPulse-data-v-6a3eb59f {
from {
    -webkit-box-shadow: 0 0 9px #21BA45;
            box-shadow: 0 0 9px #21BA45;
}
50% {
    -webkit-box-shadow: 0 0 12px #91bd09;
            box-shadow: 0 0 12px #91bd09;
}
to {
    -webkit-box-shadow: 0 0 9px #21BA45;
            box-shadow: 0 0 9px #21BA45;
}
}
@-webkit-keyframes borderPulse-data-v-6a3eb59f {
from {
    border: 2px solid #21BA45;
}
50% {
    border: 2px solid #00d8ff;
}
to {
    border: 2px solid #21BA45;
}
}
.ability[data-v-6a3eb59f] {
  display: inline-block;
  margin-right: 0.5em;
}
.processing[data-v-6a3eb59f] {
  -webkit-animation-name: bgPulse-data-v-6a3eb59f;
          animation-name: bgPulse-data-v-6a3eb59f;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.active_cast[data-v-6a3eb59f] {
  background: #0d71bb !important;
}

/*# sourceMappingURL=client_js-e3af5146bb43d66b43cb227df5f7a972.css.map*/