.content.fragment
  padding-top: $f-content-padding-top
  padding-bottom: $f-content-padding-bottom
  @include media("<desktop")
    padding-top: $f-content-mobile-padding-top
    padding-bottom: $f-content-mobile-padding-bottom

  .breadcrumb
    margin-bottom: 0.15em

    a
      color: $black
      font-size: 1.15em
