.pusher > .footer.fragment

  border-top: 1px solid $f-footer-border
  border-bottom: none
  background: $f-footer-background-color
  border-radius: 0px
  padding: $f-footer-padding

  @include media("<tablet")
    padding: $f-footer-mobile-padding

  h5
    color: $f-footer-header-color
    opacity: $f-footer-header-opacity

  p
    color: $f-footer-text-color
    opacity: $f-footer-text-opacity

  .item
    color: $f-footer-item-color
    opacity: $f-footer-item-opacity

  .ui.list
    .item a, a.item
      color: $f-footer-link-color !important
      transition: $f-footer-link-transition

      &:hover
        color: $f-footer-link-hover-color !important

  .ui.list.copyright
    text-transform: uppercase

    .item, .item a, a.item
      color: $f-footer-copyright-item-color !important

    .item
      border-left: 1px solid $f-footer-copyright-separator-color
      &:first-child
        border-left: none

      &:hover
        color: $f-footer-copyright-item-color !important