@each $color in $g-colors-list
  .pusher > .footer.fragment.#{$color}
    background: map-get($g-colors-map, $color)
    border-top: 0 !important

    h5, p, .item,
    .ui.list .item a
      @if index($g-colors-regular, $color)
        color: $black
      @else
        color: $white

    .ui.list .item a
      @if index($g-colors-regular, $color)
        &:hover
          color: $white
      @else
        &:hover
          color: $black

    .ui.list.copyright
      .item, .item a, a.item
        @if index($g-colors-regular, $color)
          color: $black
        @else
          color: $white

      .item
        @if index($g-colors-regular, $color)
          border-left: 1px solid $black
        @else
          border-left: 1px solid $white
        &:first-child
          border-left: none

        &:hover
          @if index($g-colors-regular, $color)
            color: $black !important
          @else
            color: $white !important

.pusher > .footer.fragment
  border-top: 0
  border-bottom: none
  border-radius: 0px
  padding: $f-footer-padding

  @include media("<tablet")
    padding: $f-footer-mobile-padding

  h5
    opacity: $f-footer-header-opacity

  p, .item
    opacity: $f-footer-item-opacity

  .ui.list
    .item a, a.item
      transition: $f-footer-link-transition

  .ui.list.copyright
    text-transform: uppercase

    .item
      &:first-child
        border-left: none
