// Footer
$f-ftr-padding: 2em 0 1.5em
$f-ftr-mobile-padding: 4em 0 2em
$f-ftr-header-opacity: 0.95
$f-ftr-item-opacity: 0.9
$f-ftr-link-transition: 0.4s all

@mixin footer_style($style)
  .item,
  .ui.list .item a
    @if style == regular
      color: $black
    @else
      color: $white

  .ui.list .item a
    @if style == regular
      &:hover
        color: rgba($black, 0.7)
    @else
      &:hover
        color: rgba($white, 0.7)

  .ui.list.copyright
      .item, .item a, a.item
        @if style == regular
          color: $black
        @else
          color: $white

      .item
        @if style == regular
          border-left: 1px solid $black
        @else
          border-left: 1px solid $white
        &:first-child
          border-left: none

        &:hover
          @if style == regular
            color: $black !important
          @else
            color: $white !important


.pusher > .footer.fragment
  border-top: 0
  border-bottom: none
  border-radius: 0px
  padding: $f-ftr-padding

  @include media("<tablet")
    padding: $f-ftr-mobile-padding

  h5
    opacity: $f-ftr-header-opacity

  p, .item
    opacity: $f-ftr-item-opacity

  .ui.list
    margin: 0

    .item a, a.item
      transition: $f-ftr-link-transition

  .ui.horizontal.list.copyright
    text-transform: uppercase

    .item
      @include media("<tablet")
        display: block
        margin-bottom: 1.5em
        border-left: 0 !important

        &:last-child
          margin-bottom: 0

      &:first-child
        border-left: none

  .ui.mini.link.powered
    .item
      text-transform: uppercase
      font-weight: bold
      border-left: 0 !important

  .ui.image.footer
    width: 100px

@each $color in $g-colors-list
  .pusher > .footer.fragment.#{$color}
    background: map-get($f-ftr-colors-map, $color)
    border-top: 0 !important

.pusher > .footer.fragment.regular
  @include footer_style(regular)

.pusher > .footer.fragment.inverted
  @include footer_style(inverted)
