.secondary.fragment
  background: $f-secondary-background
  padding: $f-secondary-padding
  margin: $f-secondary-margin
  @include media("<tablet")
    padding: $f-secondary-mobile-padding
    margin: $f-secondary-mobile-margin