.page.builder.widget

  .element
    border: 2px dashed rgba(0, 0, 0, 0.3)

    .title
      display: flex
      justify-content: space-between

      .content
        margin-top: 4px

  .empty.pageheader
    background: rgba(0, 0, 0, 0.2)
    border: 2px dashed rgba(0, 0, 0, 0.1)
