==  Genesis::MenuCell.(nil,
    menu: s('menu.admin'),
    policy: Pundit.policy(current_user, :headless),
    active_icon: 'double right angle',
    show_divider: true,
    show_icons: true,
    request: request)
