body {
  padding: 1em; }

.fullversion {
  text-align: center;
  text-transform: uppercase;
  background: whitesmoke;
  padding: 0.7em 0;
  font-size: 1.25em;
  margin-top: 1.5em; }

.not.available.video, .not.available.comments {
  text-align: center;
  padding: 1.4em 0;
  font-size: 1.25em;
  background: #eee;
  margin: 1.8em 0;
  border: 3px dashed black; }
  .not.available.video h5, .not.available.comments h5 {
    font-size: 0.9em;
    margin: 0em 0 1em; }
  .not.available.video a, .not.available.comments a {
    text-transform: uppercase;
    font-size: 0.9em; }

h1 {
  text-transform: uppercase;
  line-height: 1em;
  font-size: 1.7em; }

h2 {
  text-transform: uppercase;
  line-height: 1.15em; }

h3 {
  text-transform: uppercase; }

h4 {
  text-transform: uppercase; }

h5 {
  text-transform: uppercase; }

h6 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 1em 0; }

.sub.header {
  color: #848484; }

.ui.breadcrumb .section, .ui.breadcrumb .divider {
  display: inline-block;
  text-transform: uppercase; }
.ui.breadcrumb .divider {
  padding: 0 0.2em; }

.summary {
  font-size: 1.3em; }

.rich.text {
  font-size: 1.1em;
  line-height: 1.4em; }
  .rich.text .divider {
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
  .rich.text .header.divider {
    border-top: 0; }
  .rich.text figure {
    margin: 3em 0;
    padding: 0; }
    .rich.text figure img {
      max-width: 100%; }
