body {
  padding: 1em; }

.fullversion {
  text-align: center;
  text-transform: uppercase;
  background: whitesmoke;
  padding: 0.7em 0;
  font-size: 1.25em;
  margin-top: 1.5em; }

h1 {
  text-transform: uppercase; }

h6 {
  font-size: 1.2em;
  margin: 1em 0; }

.ui.breadcrumb .section, .ui.breadcrumb .divider {
  display: inline-block;
  text-transform: uppercase; }
.ui.breadcrumb .divider {
  padding: 0 0.2em; }

.summary {
  font-size: 1.3em; }

.rich.text {
  font-size: 1.1em;
  line-height: 1.4em; }
  .rich.text .divider {
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
  .rich.text .header.divider {
    border-top: 0; }
  .rich.text figure {
    margin: 3em 0;
    padding: 0; }
    .rich.text figure img {
      max-width: 100%; }
