.menu
  .color.icon
    margin-left: -4px !important

.color.icon
  width: 13px
  height: 13px
  margin-right: 6px
  border-radius: 3px
  display: inline-block


  @each $color in $g-colors-list
    &.#{$color}
      background: map-get($g-colors-map, $color)

  // overwriting white
  &.blank, &.white
    background-color: $white
    border: 1px solid $grey
