= segment class: 'basic no padding', id: 'details', dynamic: :on
  = render 'partials/help'
  == Admin::DetailsCell.(nil, records: @entry, fields: component_show_fields, controller_namespace: self.controller.class.parent.to_s )