= segment class: 'basic', id: 'details', dynamic: :on
  == Admin::DetailsCell.(nil, records: @entry, user: current_user, fields: component_show_fields, controller_namespace: self.controller.class.parent.to_s )
