.widget.author
  .header
    a
      color: $black

    .icon
      display: inline-block
      font-size: 0.90em
      margin-bottom: 8px
      margin-left: 5px
      font-weight: bold
      color: $orange
