.feed.widget

  .event
    margin-bottom: 1.5em

    .content .summary
      font-size: 1.05em
      margin-bottom: 1.25em
      margin-top: 1em

    .content .extra
      background: #efefef !important
      padding: 1em

      blockquote
        border-left: 0.7em #ddd solid
        padding-left: 1.2em
        margin-left: 0.2em

      h2, h4
        text-transform: uppercase

      h2
        font-size: 1.3em

      h4
        font-size: 1.0em
