@mixin inverted_logo()
  .desktop.logo.image.normal,
  .mobile.logo.image.normal
    display: none

  .desktop.logo.image.inverted
    display: block

    @include media("<desktop")
      display: none

  .mobile.logo.image.inverted
    display: none

    @include media("<desktop")
      display: block

  i.icon
    color: $white

@mixin regular_logo()
  .desktop.logo.image.inverted,
  .mobile.logo.image.inverted
    display: none

  .desktop.logo.image.normal
    display: block

    @include media("<desktop")
      display: none

  .mobile.logo.image.normal
    display: none

    @include media("<desktop")
      display: block

  i.icon
    color: $black

// colored menu
@each $color in $g-colors-list
  @each $class in $w-navigation-class-list
    #{$class}.#{$color}
      @if index($w-navigation-transparent-class-list,$class)
        background: rgba(0,0,0,0)
      @else
        background: map-get($w-navigation-colors-map, $color)

      &.bordered
        border-bottom: $s-white-border-color

      &.widget.mini
        background: map-get($w-navigation-colors-map, $color)

        @if $color == white
          &.bordered
            border-bottom: 2px solid rgba(0,0,0,0)

      @if index($w-navigation-transparent-class-list,$class)
        @include inverted_logo()
      @else if index($g-colors-inverted, $color)
        @include inverted_logo()
      @else
        @include regular_logo()

// Discussions Overrides
.discussions.show .navigation.widget
  &.regular:not(.mini)
    @include regular_logo()

  &.inverted:not(.mini)
    @include inverted_logo()


.navigation.widget
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: $w-navigation-z-index
  border-bottom: $w-navigation-border
  box-shadow: $w-navigation-box-shadow
  background: $w-navigation-background
  transition: $w-navigation-up-transition


  // --- Begin Left & Right Menu Haburger Toggle --

  // Left Hamburger
  .left.item.icon.hamburger
    margin-left: -3px

  // Right Hamburger
  .right.item.icon.hamburger
    margin-right: -10px

  // Logo with Hamburger on Left
  .logo.link
    transition: $w-navigation-logo-up-transition
    padding-left: 0
    margin-left: 0

  // Logo with Hamburger on Right
  .logo.link.flush
    padding-left: 10px
    margin-left: 0

  .menu a.link.item:hover
    background: none

  // Container Holding CTA Button (Sign In)
  // "Flush" is Triggered when Hamburger is on the Right
  .cta.flush
    @include media("<desktop")
      margin-right: 0

  // CTA Button
  .sign.in.button.flush
    margin-right: -17px

  // --- End Left & Right Menu Haburger Toggle --

  .profile.dropdown
    margin-right: -12px

    &:hover, &:active
      background: transparent !important

    .menu
      margin: -7px -1px 0 0 !important

      .header
        font-size: 0.9em !important
        font-weight: normal

        .username
          font-weight: bold

      .divider
        margin: 0

      .item
        display: block
        width: 100%


  .desktop.logo.image
    width: $w-navigation-logo-width
    height: $w-navigation-logo-height
    padding: $w-navigation-logo-padding
    transition: $w-navigation-down-transition
    @include media("<desktop")
      display: none


  .mobile.logo.image
    width: $w-navigation-mobile-logo-width
    height: $w-navigation-mobile-logo-height
    padding: $w-navigation-mobile-logo-padding
    transition: $w-navigation-down-transition

.navigation.widget.mini
  border-bottom: $w-navigation-mini-border
  box-shadow: $w-navigation-mini-box-shadow
  transition: $w-navigation-down-transition


  .logo.link
    transition: $w-navigation-logo-down-transition
    padding-top: 0
    padding-bottom: 0
