$border: 1px solid #00000080

.reactions_modal.widget
  .content
    padding: 1em 1.5em

  .abilities
    padding: 0.1em 0 1em
    border-bottom: $border

  .details
    height: 150px
    max-height: 150px
    padding-bottom: 1em

    .header
      margin-top: 0em
      margin-bottom: 0

    .detail-wrapper
      display: flex
      border-top: $border
      padding-top: 1em

    .direction
      display: flex
      flex: 1%
      font-size: 1.1em
      font-weight: bold
      justify-content: center
      flex-direction: column

    .points
      display: flex
      flex: 12%
      font-size: 1.2em
      text-align: center
      justify-content: center
      flex-direction: column
      @include media("<desktop")
        flex: 20%

    .details-text
      flex: 85%
      @include media("<desktop")
        flex: 80%

      p
        color: black
        margin-bottom: 0

    .green
      color: $green

    .red
      color: $red

    .blue
      color: $blue

  .ability
    display: inline-block
    margin-right: 0.5em

  .active
    animation-name: bgPulse
    animation-duration: 1s !important
    animation-iteration-count: infinite

  .actions .ui.button
    border: 3px solid transparent
    transition: all 0.225s

    &:active, &:focus
      //background-color: $blue !important

    &.casting
      animation-name: bgPulse2 !important
      animation-duration: 2s !important
      animation-iteration-count: infinite !important

  @-webkit-keyframes bgPulse
    from
      box-shadow: 0 0 9px $black
    50%
      box-shadow: 0 0 12px ligthen($black, 50)
    to
      box-shadow: 0 0 9px $black

  @-webkit-keyframes bgPulse2
    from
      opacity: 1
    50%
      opacity: 0.75
    to
      opacity: 1
