$border: 2px solid #00000080

.reactions_modal.widget
  .grid
    padding-top: 4em
    padding-bottom: 1em

  .scores
    text-align: center
    border-top: $border
    border-bottom: $border
    padding: 0.5em 0

  .bars
    border-bottom: $border

  .comment-box
    border-bottom: $border
    padding: 1em 0

  .abilities
    padding: 1em 0
    border-bottom: $border

  .details
    height: 100px
    max-height: 100px
    padding-bottom: 1em

    .header
      margin-top: 1em
