.rich.text.widget
  figure
    margin: 2.5em 0
    max-width: 100%

    img
      max-width: 100%

  p
    font-size: 1.15em
    line-height: 1.8em

  blockquote
    margin-top: 2.5em
    margin-bottom: 2.5em
    padding-left: 0.5em
    margin-left: 0.3em
    border-left: 6px solid #ccc
    font-size: 1.1em
    line-height: 1.8em
    quotes: "\201C""\201D""\2018""\2019"

    &:before
      color: #ccc
      content: open-quote
      font-size: 4em
      line-height: 0.1em
      margin-right: 0.25em
      vertical-align: -0.45em
      @include media("<desktop")
        display: none

    &:after
      color: #ccc
      content: close-quote
      font-size: 4em
      line-height: .1em
      margin-left: .25em
      vertical-align: -.5em
      @include media("<desktop")
        display: none

  h2
    font-size: 1.9em
    margin-bottom: 1.0em

  ul, ol
    padding-left: 1.2em

  li
    padding-left: 0.1em
    font-size: 1.15em
    line-height: 1.8em

  hr
    margin: 1.5em 0
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc

  &.narrow
    h2
      max-width: 85%
      @include media("<desktop")
        max-width: 100%

    p
      max-width: 75%
      @include media("<desktop")
        max-width: 100%

    li
      max-width: 75%
      @include media("<desktop")
        max-width: 100%

    hr
      max-width: 75%
      @include media("<desktop")
        max-width: 100%

    figure
      max-width: 100%
      margin: 0

      img
        max-width: 80%
        @include media("<desktop")
          max-width: 100%
