.rich.text.widget
  p
    font-size: 1.15em
    line-height: 1.8em

  ul, ol
    padding-left: 0.5em

  li
    padding-left: 0.1em
    font-size: 1.15em
    line-height: 1.8em

  //.embed
  //  margin-bottom: 3.0em
  //  margin-top: 2.5em

  // image enhancements
  .ui.image
    max-width: 99%
    margin-bottom: 1.5em

    &.right
      margin-left: auto

  // quotes
  p.author
    font-weight: bold
    color: rgba(0,0,0,0.75)
    border-left: 5px solid rgba(0,0,0,0.75)
    padding-left: 15px
    margin-bottom: 0

  .bottom.quote
    margin-top: 0.85em
