.header.fragment + .rich.text.widget
  margin-top: 3em

.rich.text.widget + .header.fragment
  margin-top: 3em

.rich.text.widget
  &.last
    margin-bottom: 3em
    @include media("<tablet")
      margin-bottom: 2em

  .alignment
    &.left
     text-align: left
    &.centered
     text-align: center
    &.right
      text-align: right

  @include media("<tablet")
    h1
      font-size: 2.5rem
    h2
      font-size: 2.3rem
    h3
      font-size: 2.0rem

  p
    font-size: 1.25em
    line-height: 1.85em

  ul, ol
    padding-left: 0.5em

  li
    padding-left: 0.1em
    font-size: 1.15em
    line-height: 1.8em

  // image enhancements
  figure.image
    margin: 0

    .caption
      color: $grey
      font-size: 1em

    &.center .caption
        text-align: center
    &.right .caption
        text-align: right

  .ui.image
    max-width: 99%
    margin-bottom: 1.5em

    &.right
      margin-left: auto

  // iframely embed widget
  .iframely-embed
    margin: 1.5em 0
