.video.widget
  .embed.container
    position: relative
    //padding-bottom: 56.25%
    overflow: hidden
    box-shadow: $w-video-box-shadow

    video
      max-height: 555px
      @include media("<tablet")
        //height: auto

    .cover
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: lighten($black, 10)

    iframe,object,embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%